In [4]:
import sqlite3
db = sqlite3.connect("../male_t20.db")
db.row_factory = sqlite3.Row

In [10]:
baseline_sql= """WITH
	over_runs AS (
SELECT
	over
,	CAST(SUM(batter_runs) + SUM(extra_runs) AS FLOAT) AS runs
FROM balls
WHERE innings = 0
GROUP BY match_id, over
HAVING MAX(ball) = 5
)
SELECT
	over
,	SUM(runs) / COUNT(*) AS avg_runs
FROM over_runs
GROUP BY over
ORDER BY over"""

In [11]:
rows = db.execute(baseline_sql).fetchall()
for row in rows:
    print(dict(row))

{'over': 0, 'avg_runs': 5.988781839778277}
{'over': 1, 'avg_runs': 7.06852389754423}
{'over': 2, 'avg_runs': 7.873365905189489}
{'over': 3, 'avg_runs': 8.055350066050199}
{'over': 4, 'avg_runs': 8.065987833906375}
{'over': 5, 'avg_runs': 8.06520874751491}
{'over': 6, 'avg_runs': 6.651539278131635}
{'over': 7, 'avg_runs': 6.998271736240362}
{'over': 8, 'avg_runs': 7.22747867803838}
{'over': 9, 'avg_runs': 7.337203095809981}
{'over': 10, 'avg_runs': 7.506763090933441}
{'over': 11, 'avg_runs': 7.645334767410594}
{'over': 12, 'avg_runs': 7.843610848738362}
{'over': 13, 'avg_runs': 7.9626966901790555}
{'over': 14, 'avg_runs': 8.36866485013624}
{'over': 15, 'avg_runs': 8.62692096597146}
{'over': 16, 'avg_runs': 9.207669943236882}
{'over': 17, 'avg_runs': 9.624579596412556}
{'over': 18, 'avg_runs': 10.28378183911354}
{'over': 19, 'avg_runs': 11.134591961023142}